requests==2.32.3
groq==0.11.0
streamlit==1.39.0
python-dotenv==1.0.1
langgraph==0.2.53
langgraph-checkpoint==2.0.5
langgraph-checkpoint-sqlite==2.0.0
langchain-groq==0.2.0
pydantic==2.9.2
langchain-chroma==0.1.4
langchain-openai==0.2.8
langchain-core==0.3.29
langchain-tools==0.1.34
pysqlite3-binary==0.5.4
